<h1>TasksController#edit</h1>
<p>Find me in app/views/tasks_controller/edit.html.erb</p>

<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :details %>
  <%= f.text_field :details %>

  <%= f.submit %>
<% end %>


